body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
    background-color: white;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 25px;
}

/* Navigation */

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.main-img {
  margin-left: 10%;
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
}

.btn-download {
  margin: 5% 3% 0 0;
}

/* Features */

.feature-column {
  padding: 8% 3% 3%;
}

.feature-icon {
  color: #ef8172;
  padding-bottom: 15px;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 12%;
  margin: 20px 40px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

.cta-button {
  margin: 8% 2% 0;
}

.media-logo {
  margin: 0 10px 20px;
}

@media (max-width: 1000px) {
  .main-img {
    position: static;
    transform: rotate(0);
    margin: 8% auto;
    width: 50%;
  }

  .title-section {
    text-align: center;
  }
}
